html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: var(--color-black);
  background-color: var(--color-white);
}

body.modal-open,
body.is-open {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.title {
  max-width: 150px;
  margin: 0 auto 40px;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  border: var(--border-style);
  border-image: var(--border-image);
  background: var(--current);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
