.logo {
  padding: 14px 0;
  font-size: 19px;
  color: var(--color-white);
  z-index: 10;
  text-wrap: nowrap;
  border: var(--border-style);
  border-image: var(--border-image);
}

@media screen and (min-width: 1280px) {
  .logo {
    padding: 19px 0;
  }
}
