.soft-list {
  margin-bottom: 16px;
}

.soft-item,
.hard-item {
  font-weight: 500;
  font-size: 12px;
}

.soft-list,
.hard-item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.hard-item:not(:last-child) {
  margin-bottom: 16px;
}

.soft-item,
.hard-item-list-item {
  padding: 6px;
  border-radius: 8px;
  background: var(--gradient-color);
}

.hard-item-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.42857;
  text-align: center;
  border: var(--border-style);
  border-image: var(--border-image);
}

@media screen and (min-width: 768px) {
  .soft-list {
    margin-bottom: 0;
  }

  .hard-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .soft-item,
  .hard-item {
    font-size: 14px;
  }

  .hard-item {
    width: calc((100% - 32px) / 2);
  }

  .hard-item:not(:last-child) {
    margin-bottom: 0;
  }

  .hard-item-title {
    margin-bottom: 12px;
    font-size: 14px;
  }
}
