.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  border: var(--border-style);
  border-image: var(--border-image);
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: var(--gradient-color);
  color: var(--color-white);
  border-radius: 50%;
  transition: background-color var(--time) var(--cubic);
  border: var(--border-style);
  border-image: var(--border-image);
}

.socials-link:hover,
.socials-link:focus {
  background-color: #b544fe;
}

.socials-link .icon {
  fill: currentColor;
}
