.about {
  padding: 40px 0;
}

.about-container {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.about-img {
  width: 100%;
  max-width: 280px;
}

.about-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('/img/about/mob/blur2.png'),
    url('/img/about/mob/blur1.png');
  background-position: left 0 top 0, left 0 bottom 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 320px 841px, 320px 1019px;
}

.about-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;

  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text {
  color: #000;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.about-img {
  margin-bottom: 40px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.about-socials-title,
.about-soft-title,
.about-hard-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #000;
  text-align: center;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 91px;
    padding-bottom: 47px;
  }

  .about-title {
    font-size: 24px;
  }

  .about-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .about-socials-title,
  .about-soft-title,
  .about-hard-title {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.5;
  }

  .about-img {
    margin-left: -32px;
    width: 467px;
    max-height: 592px;
  }

  .about-wrapper {
    display: flex;
    gap: 40px;
  }

  .about-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -91px;
    left: 0;
    z-index: -1;
    background-image: url('/img/about/tab/blur2.png');
    background-position: right 0 top 0;
    background-repeat: no-repeat;
    background-size: 522px 841px;
  }

  .about-container::after {
    bottom: -47px;
    left: 0;
    height: auto;
    background-image: url('/img/about/tab/blur1.png');

    background-position: left 0 bottom 0;
    background-repeat: no-repeat;
    background-size: 768px 935px;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about-title {
    margin-bottom: 80px;
  }

  .about-text-second {
    margin-bottom: 0;
    max-width: 572px;
  }

  .about-img {
    margin-bottom: 0;
    width: 396px;
    max-height: 601px;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    top: 81px;
    right: 124px;
    transform: rotate(31deg);
  }

  .about-wrapper {
    display: block;
    margin-bottom: 50px;
  }

  .about-text-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
  }

  .about-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/img/about/gear.png'), url('/img/about/gear.png'),
      url('/img/about/gear.png');
    background-position: left 87px top 50px, left 272px bottom 342px,
      right 44px top 33px;
    background-repeat: no-repeat;
    background-size: 28px 28px;
  }

  .about-container::before {
    top: -100px;
    left: 0;
    background-image: url('/img/about/des/blur2.png');
    background-position: right 0 top 0;
    background-size: 640px 851px;
  }

  .about-container::after {
    bottom: -100px;
    left: 0;
    background-image: url('/img/about/des/blur1.png');
    background-position: left 0 bottom 0;
    background-size: 1222px 1210px;
  }
}
