.about {
  padding: 40px 0;
}

.about-container {
  position: relative;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.about-img {
  width: 100%;
  max-width: 280px;
}

.about-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('/img/about/mob/blur2.png'),
    url('/img/about/mob/blur1.png');
  background-position: left 0 top 0, left 0 bottom 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 320px 841px, 320px 1019px;
}

.about-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text {
  color: #000;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: center;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.about-img {
  margin-bottom: 40px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.about-socials-title,
.about-soft-title,
.about-hard-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: #000;
  text-align: center;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}
