.education {
  padding: 40px 0;
  background-color: var(--color-blue-dark);
}

.education-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border: var(--border-style);
  border-image: var(--border-image);
}

.education-wrapper,
.education-list {
  margin-bottom: 40px;
}

.certifications-title {
  max-width: 175px;
}

.education-item,
.certifications-item,
.languages-item {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: var(--color-white);
}

.education-item:not(:last-child),
.certifications-item:not(:last-child),
.languages-item:not(:last-child) {
  margin-bottom: 20px;
}

.education-item,
.languages-item {
  border: var(--border-style);
  border-image: var(--border-image);
}

.education-text {
  font-weight: 700;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.certifications-item {
  padding: 16px;
  border-radius: 15px;
  background: var(--cards);
}

.certifications-text {
  font-weight: 700;
  margin-bottom: 8px;
  border: var(--border-style);
  border-image: var(--border-image);
}

.certifications-img {
  max-height: 230px;
  width: 100%;
  object-fit: scale-down;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .certifications-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .certifications-item {
    width: calc((100% - 32px) / 2);
    padding: 15px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .education-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .education-wrapper,
  .certifications-wrapper {
    width: 60%;
    border: var(--border-style);
    border-image: var(--border-image);
  }

  .education-wrapper {
    margin-bottom: 0;
    width: 40%;
  }

  .certifications-text {
    font-size: 18px;
  }
}
