.hero {
  background-color: #07081c;
}

.hero-container {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 175px 20px 127px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('/img/hero/mob/phone.png');
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: url('/img/hero/mob/phone-2x.png');
  }
}

.hero-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-white);
  text-align: center;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.hero-img {
  width: 180px;
  margin: 0 auto;
  margin-bottom: 12px;
  border-radius: 50%;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.hero-text {
  margin-bottom: 40px;
  font-weight: 700;
  color: var(--color-white);
  text-align: center;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.hero-btn {
  font-family: inherit;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  border-radius: 5px;
  min-width: 200px;
  height: 42px;
  color: var(--color-white);
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.hero-btn:hover,
.hero-btn:focus {
  color: #000;
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image: none;
    padding: 120px 32px 143px;
  }

  .hero-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('/img/hero/tab/phone.png'),
      url('/img/hero/tab/dekor.png'), url('/img/hero/tab/blur.png'),
      url('/img/hero/tab/blur2.png');
    background-position: right 36px bottom -20px, center 223px,
      left -35px top 307px, right 14px bottom -64px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 336px 382px, 362px 352px, 291px 58px, 420px 532px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    .hero-containerr::after {
      content: '';
      background-image: url('/img/hero/tab/phone-2x.png'),
        url('/img/hero/tab/dekor-2x.png'), url('/img/hero/tab/blur-2x.png'),
        url('/img/hero/tab/blur2-2x.png');
    }
  }

  .hero-btn {
    margin: 0;
  }

  .hero-img {
    margin: 0;
    margin-bottom: 15px;
  }

  .hero-title {
    text-align: left;
    display: inline-block;
  }

  .hero-text {
    max-width: 500px;
    margin-bottom: 20px;
    text-align: left;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    padding: 143px 16px 158px;
  }

  .hero-container::after {
    background-image: url('/img/hero/des/phone.png'),
      url('/img/hero/des/dekor.png'), url('/img/hero/tab/blur.png');
    background-position: right 10px bottom -52px, right 324px bottom 40px,
      left -40px top 319px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 472px 553px, 541px 418px, 291px 58px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    .hero-containerr::after {
      content: '';
      background-image: url('/img/hero/des/phone-2x.png'),
        url('/img/hero/des/dekor-2x.png'), url('/img/hero/tab/blur-2x.png');
    }
  }
}
