.projects {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #06071b;
}

.projects-list {
  margin-bottom: 40px;
}

.projects-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-item {
  padding: 16px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 15px;
  background: linear-gradient(
    318deg,
    rgba(0, 197, 235, 0.5) 0%,
    rgba(181, 68, 254, 0.5) 100%
  );
}

.projects-item:not(:last-child) {
  margin-bottom: 25px;
}

.projects-img {
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.projects-item-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.projects-item-text {
  margin-bottom: 18px;
  line-height: 1.43;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
}

.projects-code-link {
  margin-right: 10px;
}

.projects-code-link,
.projects-project-link {
  display: inline-block;
  max-width: 181px;
  padding: 10px;
  border-radius: 5px;
  color: var(--color-white);
  outline: none;
  background-color: #00c5eb;
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;

  transition: background-color var(--time) var(--cubic);
}

.projects-code-link:hover,
.projects-code-link:focus,
.projects-project-link:hover,
.projects-project-link:focus {
  background-color: #b544fe;
}

.load-more {
  font-family: inherit;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  border-radius: 5px;
  min-width: 200px;
  height: 42px;
  color: var(--color-white);
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  border: 1px solid transparent;
  border-image: linear-gradient(
      99deg,
      rgba(0, 197, 235, 0.3),
      rgba(181, 68, 254, 0.3)
    )
    1;
  transition: color var(--time) var(--cubic);
}

.load-more:hover,
.load-more:focus {
  color: #000;
}
