<ul class="hard-list">
  <li class="hard-item">
    <p class="hard-item-title">Frontend Development:</p>
    <ul class="hard-item-list">
      <li class="hard-item-list-item">HTML</li>
      <li class="hard-item-list-item">CSS</li>
      <li class="hard-item-list-item">JavaScript</li>
      <li class="hard-item-list-item">React</li>
      <li class="hard-item-list-item">React Native</li>
      <li class="hard-item-list-item">TypeScript</li>
      <li class="hard-item-list-item">Figma</li>
      <li class="hard-item-list-item">Slack</li>
      <li class="hard-item-list-item">Jira</li>
    </ul>
  </li>
  <li class="hard-item">
    <p class="hard-item-title">Frameworks & Libraries:</p>
    <ul class="hard-item-list">
      <li class="hard-item-list-item">Vite.js</li>
      <li class="hard-item-list-item">React.js</li>
      <li class="hard-item-list-item">Axios</li>
      <li class="hard-item-list-item">Izitoast</li>
      <li class="hard-item-list-item">Simplelightbox</li>
      <li class="hard-item-list-item">Swiper.js</li>
      <li class="hard-item-list-item">Firebase</li>
      <li class="hard-item-list-item">Jquery</li>
      <li class="hard-item-list-item">Lodash</li>
      <li class="hard-item-list-item">Notiflix</li>
      <li class="hard-item-list-item">Tui-pagination</li>
    </ul>
  </li>
  <li class="hard-item">
    <p class="hard-item-title">API Integration:</p>
    <ul class="hard-item-list">
      <li class="hard-item-list-item">Pixabay API</li>
      <li class="hard-item-list-item">Unsplash API</li>
      <li class="hard-item-list-item">Pokeapi</li>
      <li class="hard-item-list-item">AJAX</li>
      <li class="hard-item-list-item">JSON</li>
    </ul>
  </li>
  <li class="hard-item">
    <p class="hard-item-title">Version Control:</p>
    <ul class="hard-item-list">
      <li class="hard-item-list-item">Git</li>
      <li class="hard-item-list-item">GitHub</li>
    </ul>
  </li>
  <li class="hard-item">
    <p class="hard-item-title">Web Performance Optimization:</p>
    <ul class="hard-item-list">
      <li class="hard-item-list-item">Lazy loading</li>
      <li class="hard-item-list-item">Code splitting</li>
      <li class="hard-item-list-item">Minification</li>
      <li class="hard-item-list-item">Asset optimization</li>
    </ul>
  </li>
  <li class="hard-item">
    <p class="hard-item-title">Testing & Debugging:</p>
    <ul class="hard-item-list">
      <li class="hard-item-list-item">Debugging with browser dev tools</li>
    </ul>
  </li>
</ul>
