<ul class="socials-list {=$class-modifier}">
  <li class="socials-item">
    <a
      class="socials-link"
      href="https://www.instagram.com/tati_bul/"
      target="_blank"
      title="Instagram"
      aria-label="Instagram"
      rel="noopener noreferrer"
    >
      <svg class="icon" width="24" height="24">
        <use href="/icons/icons.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="socials-item">
    <a
      class="socials-link"
      href="https://www.linkedin.com/in/tetiana-bulatova/"
      target="_blank"
      title="Linkedin"
      aria-label="Linkedin"
      rel="noopener noreferrer"
    >
      <svg class="icon" width="24" height="24">
        <use href="/icons/icons.svg#icon-linkedin"></use></svg
    ></a>
  </li>
  <li class="socials-item">
    <a
      class="socials-link"
      href="https://github.com/BulatovaTati"
      target="_blank"
      title="GitHub"
      aria-label="GitHub"
      rel="noopener noreferrer"
    >
      <svg class="icon" width="24" height="24">
        <use href="/icons/icons.svg#icon-github"></use></svg
    ></a>
  </li>
</ul>
