<section class="education" id="education">
  <div class="container education-container">
    <div class="education-wrapper">
      <h2 class="education-title">Education</h2>
      <ul class="education-list">
        <li class="education-item">
          <p class="education-text">Kyiv European University</p>
          <p class="education-text">Master’s degree</p>
          <p class="education-text">Finance, banking and insurance</p>
          <p class="education-text">2018 - 2020</p>
        </li>
        <li class="education-item">
          <p class="education-text">GoIT</p>
          <p class="education-text">FullStack Developer</p>
          <p class="education-text">2024 - 2025</p>
        </li>
      </ul>
    </div>
    <div class="certifications-wrapper">
      <h2 class="certifications-title">Certifications</h2>
      <ul class="certifications-list">
        <li class="certifications-item">
          <p class="certifications-text">Advanced I</p>
          <p class="certifications-text">Green Forest</p>
          <img
            class="certifications-img"
            src="/img/education/Advanced.jpg"
            alt="Advanced I"
          />
        </li>
        <li class="certifications-item">
          <p class="certifications-text">Upper-Intermediate</p>
          <p class="certifications-text">Green Forest</p>
          <img
            class="certifications-img"
            src="/img/education/UpperGF.jpg"
            alt="Upper-Intermediate"
          />
        </li>
        <li class="certifications-item">
          <p class="certifications-text">Upper-Intermediate</p>
          <p class="certifications-text">Yappi Language School</p>
          <img
            class="certifications-img"
            src="/img/education/Yappi.png"
            alt="Upper-Intermediate"
          />
        </li>
        <li class="certifications-item">
          <p class="certifications-text">Upper-Intermediate</p>
          <p class="certifications-text">FRIENDS English Club</p>
          <img
            class="certifications-img"
            src="/img/education/Friends.jpg"
            alt="Upper-Intermediate"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
