<section class="experience" id="experience">
  <div class="container experience-container">
    <h2 class="experience-title title">Experience</h2>
    <ul class="experience-list">
      <li class="experience-list-item">
        <p class="experience-position">Head of Neural system</p>
        <p class="experience-company">Imperia Holding</p>
        <p class="experience-date">July 2019 - Present</p>
        <ul class="experience-duties">
          <li class="experience-item">
            Directing and managing a team of approximately 100 individuals,
            providing guidance, support, and mentorship to ensure team cohesion
            and productivity.
          </li>
          <li class="experience-item">
            Overseeing the administration system, including tasks such as adding
            new information, testing the system, and providing suggestions for
            software development.
          </li>
          <li class="experience-item">
            Conducting audits to ensure task completion compliance from the
            client side.
          </li>
          <li class="experience-item">
            Leading the creation of datasets for neural networks, overseeing
            training, and verifying finished datasets.
          </li>
          <li class="experience-item">
            Generating reports evaluating the quality of neural network
            performance.
          </li>
          <li class="experience-item">
            Actively participating in the development and implementation of
            proposals for application modernization.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
