<section class="hero">
  <div class="container hero-container">
    <img class="hero-img" src="/img/my-photo.jpg" alt="my-photo" />
    <h1 class="hero-title">Frontend Developer</h1>
    <p class="hero-text">Tati Bulatova</p>
    <p class="hero-text">
      I am passionate about creating user-friendly and responsive web
      applications, leveraging my skills in HTML, CSS, JavaScript, and various
      frameworks to deliver exceptional user experiences.
    </p>
    <a class="hero-btn" href="cv.pdf" download="Bulatova-CV.pdf">Download CV</a>
  </div>
</section>
