<section class="hero">
  <div class="container hero-container">
    <img class="hero-img" src="/img/my-photo.jpg" alt="my-photo" />
    <h1 class="hero-title">Frontend Developer</h1>
    <p class="hero-text">Tati Bulatova</p>
    <p class="hero-text">
      I am passionate about creating user-friendly and responsive web
      applications, leveraging my skills in HTML, CSS, JavaScript, and various
      frameworks to deliver exceptional user experiences.
    </p>
    <a
      class="hero-btn"
      href="./assets/TETIANA_BULATOVA_-_JUNIOR_FULL_STACK_DEVELOPER.pdf"
      download="TETIANA_BULATOVA_-_JUNIOR_FULL_STACK_DEVELOPER.pdf"
      class="hero-btn"
      >Download CV</a
    >
  </div>
</section>
