<section class="projects" id="projects">
  <div class="container projects-container">
    <h2 class="projects-title title">projects</h2>
    <ul class="projects-list">
      <li class="projects-item">
        <img
          class="projects-img"
          src="/img/projects/movies.png"
          alt="Movies Source"
        />
        <h3 class="projects-item-title">Movies Source</h3>
        <p class="projects-item-text">
          A movie information platform that pulls data from a public API for
          movie details.
        </p>
        <a
          href="https://github.com/BulatovaTati/movies-source"
          class="projects-code-link"
          target="_blank"
          >View Code</a
        >
        <a
          href="https://bulatovatati.github.io/movies-source/"
          class="projects-project-link"
          target="_blank"
          >View Project</a
        >
      </li>
      <li class="projects-item">
        <img class="projects-img" src="/img/projects/jet.jpg" alt="Yacht Jet" />
        <h3 class="projects-item-title">Yacht Jet</h3>
        <p class="projects-item-text">
          A luxury yacht rental platform showcasing various yachts available for
          rent.
        </p>
        <a
          href="https://github.com/BulatovaTati/Yacht-Jet"
          class="projects-code-link"
          target="_blank"
          >View Code</a
        >
        <a
          href="https://bulatovatati.github.io/Yacht-Jet/"
          class="projects-project-link"
          target="_blank"
          >View Project</a
        >
      </li>
      <li class="projects-item">
        <img
          class="projects-img"
          src="/img/projects/chocolate.png"
          alt="SIMPLY-CHOCOLATE"
        />
        <h3 class="projects-item-title">SIMPLY CHOCOLATE</h3>
        <p class="projects-item-text">
          A responsive website for a chocolate brand, featuring smooth scroll
          for navigation.
        </p>
        <a
          href="https://github.com/BulatovaTati/Simply-Chocolate"
          class="projects-code-link"
          target="_blank"
          >View Code</a
        >
        <a
          href="https://bulatovatati.github.io/SIMPLY-CHOCOLATE/"
          class="projects-project-link"
          target="_blank"
          >View Project</a
        >
      </li>
      <li class="projects-item">
        <img
          class="projects-img"
          src="/img/projects/veges.jpg"
          alt="Green Harvest"
        />
        <h3 class="projects-item-title">Green Harvest</h3>
        <p class="projects-item-text">
          A project focused on promoting healthy eating with engaging content
          and resources.
        </p>
        <a
          href="https://github.com/BulatovaTati/GreenHarvest"
          class="projects-code-link"
          target="_blank"
          >View Code</a
        >
        <a
          href="https://bulatovatati.github.io/GreenHarvest/"
          class="projects-project-link"
          target="_blank"
          >View Project</a
        >
      </li>
      <li class="projects-item">
        <img
          class="projects-img"
          src="/img/projects/food.png"
          alt="Food Delivery"
        />
        <h3 class="projects-item-title">Food Delivery</h3>
        <p class="projects-item-text">
          A food delivery app that allows users to browse menus, place orders,
          and track deliveries.
        </p>
        <a
          href="https://github.com/BulatovaTati/food-delivery"
          class="projects-code-link"
          target="_blank"
          >View Code</a
        >
        <a
          href="https://bulatovatati.github.io/food-delivery/"
          class="projects-project-link"
          target="_blank"
          >View Project</a
        >
      </li>
      <li class="projects-item">
        <img
          class="projects-img"
          src="/img/projects/barber.jpg"
          alt="Barber Shop"
        />
        <h3 class="projects-item-title">Barber Shop</h3>
        <p class="projects-item-text">
          A stylish and functional website for a barbershop, featuring a booking
          system.
        </p>
        <a
          href="https://github.com/BulatovaTati/BarberShop"
          class="projects-code-link"
          target="_blank"
          >View Code</a
        >
        <a
          href="https://bulatovatati.github.io/BarberShop/"
          class="projects-project-link"
          target="_blank"
          >View Project</a
        >
      </li>
      <li class="projects-item">
        <img class="projects-img" src="/img/projects/ice.jpg" alt="Ice Cream" />
        <h3 class="projects-item-title">Ice Cream</h3>
        <p class="projects-item-text">
          A visually appealing website showcasing a range of ice cream products.
        </p>
        <a
          href="https://github.com/BulatovaTati/IceCream"
          class="projects-code-link"
          target="_blank"
          >View Code</a
        >
        <a
          href="https://bulatovatati.github.io/IceCream/"
          class="projects-project-link"
          target="_blank"
          >View Project</a
        >
      </li>
      <li class="projects-item">
        <img class="projects-img" src="/img/projects/donuts.jpg" alt="Donats" />
        <h3 class="projects-item-title">Donats</h3>
        <p class="projects-item-text">
          An engaging platform to explore flavors and order delicious donuts
          online.
        </p>
        <a
          href="https://github.com/BulatovaTati/Donats"
          class="projects-code-link"
          target="_blank"
          >View Code</a
        >
        <a
          href="https://bulatovatati.github.io/Donats/"
          class="projects-project-link"
          target="_blank"
          >View Project</a
        >
      </li>
    </ul>
    <button type="button" class="load-more">Load more</button>
  </div>
</section>
